<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
</head>
<body>
    <h1 class="mt-6">Tabla de Datos</h1>
    <table class="table table-dark table-striped mt-5">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Clave</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Argumentos de Entrada</td>
              <td><%= data.entryArguments %></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Nombre de la plataforma (Sistema Operativo)</td>
              <td><%= data.operativeSystem %></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Version de Node.js</td>
              <td><%= data.NodeVersion %></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Memoria Total Reservada(RSS)</td>
              <td><%= data.reservedMemory %></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Path de ejecución</td>
              <td><%= data.executionPath %></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Process Id</td>
              <td><%= data.processID %></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Carpeta de proyecto</td>
              <td><%= data.projectFolder %></td>
            </tr>
          </tbody>
      </table>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>